.edit-card-container{
    width: 80%;
    display: inline-block;
    margin: 2rem;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(237, 237, 237);
    border-radius: 4px;
    box-shadow: 0 6px 10px #8080801c;
}

.edit-card-info{
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.edit-title{
    font-size: 1rem;
    padding: 1rem;
    border: solid;
}

.edit-btn{
    width: 10rem;
}

.edit-btn-text{
    font-size: 1rem;
}



